html {
    font-size: 14px;
    background-color: #f1f1f1 !important;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

#brandElement {
    color: inherit;
    text-decoration: none;
}

.profile-image {
    margin-bottom: 20px;
}

.image.mobile-profile-image {
    float: left;
    margin-right: 20px;
}

.linkedin:visited,
.github:visited,
.mastodon:visited {
    color: black;
}

.mastodon:hover {
    color: #6f42c1;
}

.linkedin:hover {
    color: blue;
}

.github:hover {
    color: green;
}

.social-account {
    margin-right: 5px;
    padding: 0 5px;
}

#site {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 20px;
}

.card {
    margin-bottom: 10px;
}

.highlight-color {
    color: #209cee;
}

.topic {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19)
}